body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:110%;
  margin: 0;
  background-color: #181818;
  color: aliceblue;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 300;
}

/* Hero Section */
.header {
  padding-left:7%;
  padding-right:7%;
}

span {
  color: E63E6D;
}

.font-resize {
  font-size: 40px;
}

.resume-logo {
  font-size: 2.5rem;
  cursor: pointer;
}
.navbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  /* width: 100%; */
}

nav ul li{
  list-style: none;
  display: inline;
  padding: 0 20px;
  font-weight: 600;
  font-size:1.1rem;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

.call-to-action {
  padding: 10px 25px;
  color: aliceblue;
  font-size: 20px;
  border: solid transparent;
  background-color:E63E6D;
  border-radius: 80px;
}

nav ul li a:hover {
  color: E63E6D;
  transition: 0.7s;
}

.call-to-action:hover {
  background-color: #181818;
  border-color: white;
  transition: 0.5s;
}

.intro {
  padding: 9rem 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero img, .profile-pic{
  width: 40%;
  height: 40%;
}

.name {
  font-size: 4rem;
  margin: 0;
}

.intro a{
  text-decoration: none;
  font-weight: 600;
}

.intro h3 {
  margin-bottom: 40px;
}

/* Main Section  */

main {
  text-align: center;
}

/* About Section */

#about .content {
  text-align: left;
}

/* First-main-section */
.first-main-section, #about {
  padding: 4% 7%;
}

.container {
  padding: 30px;
}

.content {
  display: flex;
  align-items: center;
}

.content p {
  text-align: left;
}

#education, #experience {
  margin-bottom: 70px;
}

/* Second-main-section */
#skills {
  padding: 4% 7%;
  margin-bottom: 70px;
  background-color: white;
  color: black;
}

#skills img {
  width: 50%;
  height: 90%;
}

#skills ul li {
list-style: none;
padding: 0%;
}

#skills ul {
  padding: 0%;
  display: flex;
  justify-content: space-evenly;
}

/* Footer */

footer {
  text-align: center;
}

#contact-info {
  padding: 2% 7%;
}

#contact-info ul li {
  list-style: none;
  padding: 0px 10px;
}

#contact-info ul li{
  text-align: left;
  margin-top: 20px;
  color: grey;
}

#contact-info .list-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#contact-info i {
  color: grey;
  font-size: 30px;
  margin: 7px 30px;

}

.copyright {
  margin-top: 10px;
}