body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color: #000;
  color: aliceblue;
}

header {
  text-align: center;
}


/* Hero Section */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left:5%;
  padding-right:5%;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

.intro {
  text-align: center;
}

footer {
  background-color: #343330;
  text-align: center;
}
